#project-navigation a {
	padding: 4px 8px;
}

#project-navigation a.first-item {
}

#project-navigation th {
	margin-right: 3px;
}


.project-navigations {
	border: none; /* work around weird ns4 bug */
	margin-bottom: 2em;
}

#project-navigation th {
	background-color: inherit;
	background-repeat: no-repeat;
	color: #900;
	padding-left: 18px;
	padding-top: 0;
	margin-bottom: 0;
	margin-top: 0;
	vertical-align: middle;
}

td.navigation-list {
	margin: 0;
	padding: 0 0 0px 0;
	height: 24px;
	border-bottom: 3px solid #7F8D10;
}

td.navigation-list a {
	background: rgb(230,240,163);
	background: linear-gradient(to bottom,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%);
	background: -moz-linear-gradient(top,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,240,163,1)), color-stop(50%,rgba(210,230,56,1)), color-stop(51%,rgba(195,216,37,1)), color-stop(100%,rgba(219,240,67,1)));
	background: -webkit-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
	background: -o-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
	background: -ms-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 );
	border: 1px solid #AAA;
	font-family: verdana,arial,sans-serif;
	font-size: 11px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	margin: 3px 0px 0px 2px;
	padding: 1px 5px 0px 2px;
	white-space: no-wrap !important;
	border-radius: 4px 4px 0 0;
	box-shadow: 2px -2px 2px -1px rgba(0,0,0,0.8);
	-moz-transition-property: -moz-box-shadow, box-shadow, background-image;
	-moz-transition-duration: 0.2s, 0.2s, 0.5s;
	text-shadow: 0px 0px 1px rgba(20,40,10,0.5);
}

td.navigation-list a * {
	white-space: no-wrap !important;
}

td.navigation-list a[href$='donate.html'] {
    background-color: rgb(252,234,187);
  background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1)));
	background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: -o-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );    background-repeat: repeat-x;
}

td.navigation-list a[href],
td.navigation-list a[href]:visited {
	color: #4F5618 !important;
	white-space: nowrap;
}

td.navigation-list a:hover{
    background-color: Orange !important;
    color: Black !important;
    height: 21px;
    margin-top: 2px !important;
    text-decoration: underline;
	box-shadow: 2px -2px 2px -1px rgba(40,60,60,0.8);
}
td.navigation-list a:selected {
    padding: 0px 5px 2px 2px !important;
    background-color:  Highlight !important;
    color: HighlightText !important;
    border: 1px solid ThreeDHighlight !important; /* #666 */
    border-right: 1px solid ThreeDDarkShadow !important; /* new */
    border-bottom: none !important;
    height: 21px;
    margin-top: 2px !important;
    margin-bottom: -1px !important;
}


.censorship div *,
.censorship:hover div * {
  text-decoration:none !important;
  font-family: Calibri,Sans_Serif;
  font-weight: normal;
  font-size: 12pt;
}

.censorship {
  width: 50%;
  height: 30px;
  vertical-align:middle;text-align:center;
  background-color:#000;
  position:absolute;
  z-index:5555;
  top:220px;
  left:240px;
  box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.4);
  -moz-transition-property: width, height, min-height, left, top,  box-shadow;
  -moz-transition-duration: 0.8s,  0.5s,   0.5s,       1.2s, 0.8s, 2s;
  -webkit-transition-property: width, height, min-height, left, top,  box-shadow;
  -webkit-transition-duration: 0.8s,  0.5s,   0.5s,       1.2s, 0.8s, 2s;
  -o-transition-property: width, height, min-height, left, top,  box-shadow;
  -o-transition-duration: 0.8s,  0.5s,   0.5s,       1.2s, 0.8s, 2s;
  opacity: 0.7;
  -moz-border-radius: 2px;
  
}
.censorship div {
  height: 100%;
  background-image:url(https://americancensorship.org/images/stop-censorship-small.png);
  background-position:center center;
  background-repeat:no-repeat;
  text-align: center;
  color: #fff;
  font-size: 14px;
  vertical-align: middle;
}
.censorship:hover {
  width:80%;
  height:auto;
  min-height:120px;
  top:200px;
  left:120px;
  background-color: rgb(169,3,41);
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	background: linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
  box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.9);
  opacity: 0.9;
  -moz-border-radius: 1em;
}
.censorship span { display:none; padding: 1em 2em;}
.censorship:hover span { display:block; text-decoration: none;}
.censorship:hover div {background-image:none;}
.stop { text-align:center; }
